.card-head1{
    background-color:#74bde0;
}

.card-head2{
    background-color: #4a8db7;
}

.card-head3{
    background-color:#ab7697;
}

.card-head5{
    background-color:cadetblue;
}

.card-head6{
    background-color:teal;
}


.total-head{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}

.total-no{
    font-weight: lighter;
    font-size: 13px;
}